<%- layout("/layouts/boilerplate") %>   
<body>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h3 class="mb-3">Edit your Listing</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" rows="3" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Original Listing Image</label><br>
                    <img src="<%= originalImageUrl %>" class="img-fluid rounded" style="max-height: 200px; object-fit: cover;">
                </div>
                <div class="mb-3">
                    <label class="form-label">Upload new Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-12 col-md-4">
                        <label class="form-label">Price</label>
                        <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-12 col-md-8">
                        <label class="form-label">Country</label>
                        <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-12 col-md-8">
                        <label class="form-label">Location</label>
                        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        <label class="form-label">Select Category</label>
                        <select name="listing[category]" class="form-select" required>
                            <option value="">Select Category</option>
                            <option value="room" <%= listing.category === 'room' ? 'selected' : '' %>>Room</option>
                            <option value="iconicCities" <%= listing.category === 'iconicCities' ? 'selected' : '' %>>Iconic Cities</option>
                            <option value="mountains" <%= listing.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
                            <option value="castles" <%= listing.category === 'castles' ? 'selected' : '' %>>Castles</option>
                            <option value="amazingpools" <%= listing.category === 'amazingpools' ? 'selected' : '' %>>Amazing pools</option>
                            <option value="camping" <%= listing.category === 'camping' ? 'selected' : '' %>>Camping</option>
                            <option value="farms" <%= listing.category === 'farms' ? 'selected' : '' %>>Farms</option>
                            <option value="arctic" <%= listing.category === 'arctic' ? 'selected' : '' %>>Arctic</option>
                            <option value="domes" <%= listing.category === 'domes' ? 'selected' : '' %>>Domes</option>
                            <option value="boats" <%= listing.category === 'boats' ? 'selected' : '' %>>Boats</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-dark edit-btn mb-4">Save Changes</button>
            </form>
        </div>
    </div>
</body>