<%- layout("/layouts/boilerplate") %>   
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit your Listing</h3>
            <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input name="listing[title]" type="text" value="<%= listing.title %>" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Image link</label>
                    <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid link for image</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label">Price</label>
                        <input name="listing[price]" type="number" value="<%= listing.price %>" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label class="form-label">Country</label>
                        <input name="listing[country]" type="text" value="<%= listing.country %>" class="form-control" required>
                        <div class="invalid-feedback">Country name shold be valid</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required   >
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-dark edit-btn">Edit</button>
            </form>
        </div>
    </div>
</body>
