<%- layout("/layouts/boilerplate") %>

    <body>
        <style>
            #filters {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 1rem;
            }

            .filter {
                text-align: center;
                margin-right: 2rem;
                opacity: 0.5;
            }

            .filter:hover {
                opacity: 1;
                cursor: pointer;
            }

            .filter b {
                font-size: 0.8rem;
            }

            .tax-info {
                display: none;
                font-size: 0.7rem;
                color: rgb(177, 176, 176);
            }

            .tax-toggle {
                border: 1px solid black;
                border-radius: 1rem;
                height: 2.8rem;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                margin-top: -1rem;
                margin-left: 3.2rem;
            }
        </style>

        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Room</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing pools</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-sailboat"></i></div>
                <p>Boats</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>

        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
            <% for(let listing of allListings) { %>
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card col listing-card" style="width: 18rem;">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img"
                            style="height: 10rem">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b><br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                                <b class="tax-info"> &nbsp; &nbsp;+18% GST </b>
                            </p>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>

    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo){
                if(info.style.display != "inline") info.style.display = "inline";
                else info.style.display = "none";
            }
        })
    </script>