<%- layout("/layouts/boilerplate") %>
<body>
    <h3>All list</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create new Listing</button>
    </form> -->
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
    <% for(let listing of allListings) { %>
        <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col" style="width: 18rem;">
                <img src="<%= listing.image %>" class="card-img-top" alt="listing_img" style="height: 10rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                    </p>
                </div>
            </div>
        </a>
    <% } %>
    </div>
</body>