<%- layout("/layouts/boilerplate") %>

<body>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
        <% if(allListings.length == 0) { %>
            <div class="d-flex justify-content-center align-items-center w-100" style="height: 60vh;">
                <h1 style="color: rgb(165, 165, 165)">Listing not found !</h1>
            </div>          
        <% } %>
        <% for(let listing of allListings) { %>
            <div class="col">
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card listing-card h-100">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height: 10rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b><br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
</body>

<script>
    const input = document.querySelector(".search-input");
    if(input) {
        input.addEventListener("input", () => {
            if (input.value === "") input.form.submit();
        });
    }
</script>
